body {
    display: flex;
    flex-direction: column;
    background-color: rgb(218, 241, 162);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: rgb(30, 32, 34);
    
  

}

.container div {
    display: flex;
    border:1px solid;
    border-color: aquamarine;
   


}

#buttonContainer button {

    margin-bottom: 30px;
    width: 200px;
    height: 60px;
}


.color-button-container {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.color-button-container>button {
    
    height: 50px;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;


}

#blue-color{
    background-color: #6366f1;
    border: 1px solid #6366f1;
    
}

#blue-color:hover {
    background-color: #4f46e5;
}

#red-color:hover {
    background-color: #db2777;
}

#red-color {
    background-color: #f472b6;
    border: 1px solid #f472b6;
}

